<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.practicas.sergio.practicacontentprovider">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.practicas.sergio.practicacontentprovider.Principal"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.practicas.sergio.practicacontentprovider.DatosInmuebles"
            android:label="@string/title_activity_datos_inmuebles" >
        </activity>
        <activity
            android:name="com.practicas.sergio.practicacontentprovider.Editar"
            android:label="@string/title_activity_editar" >
        </activity>

        <provider
            android:name="com.practicas.sergio.practicacontentprovider.basededatos.ProveedorInmueble"
            android:authorities="com.practicas.sergio.practicacontentprovider.basededatos.proveedorinmueble"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
